# 한국관광공사 TourAPI 4.0 인증키 (공공데이터포털)
TOUR_API_KEY=

# 카카오맵 JavaScript 키 (선택사항)
NEXT_PUBLIC_KAKAO_MAP_KEY=

# Google Sheets API 백엔드 연동
GOOGLE_SHEET_ID=15X5EzmNlQJhI4fGqBD0MmB3L9jKmQhGEIDuueZEyatk
GOOGLE_SERVICE_ACCOUNT_EMAIL=sheet-bot@peo-schedule.iam.gserviceaccount.com
# Google Cloud Service Account Private Key (-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----)
GOOGLE_PRIVATE_KEY=
